@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  min-height: 100dvh;
  min-width: 100dvw;
  background-color: #343541;
}

#root {
  min-height: 100dvh;
  min-width: 100dvw;
}